.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.overlayMessage {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2rem;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  > p {
    font-size: 3rem;
    margin-top: 6rem;
  }
}

.header {
  .serverError {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: rgba(255, 0, 0, 0.15);
    color: rgb(217, 16, 56);
    font-size: 1.5rem;
  }
}

.main {
  display: flex;
  height: 90vh;
  padding: 5rem 1rem;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 1.5rem;
  }

  > .form {
    display: flex;
    flex-direction: column;
  
    > input {
      min-width: 250px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .submitButton {
      padding: 10px 15px;
    }
  }

  .shortenedUrlContainer {
    display: flex;
    margin-top: 30px;
    align-items: center;

    > p {
      margin-right: 10px;
    }

    > button {
      padding: 10px;
    }
  }
}


.footer {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  display: flex;

  > a {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
  }
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
}


