.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.overlayMessage {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2rem;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  > p {
    font-size: 3rem;
    margin-top: 6rem;
  }
}

.header {
  .operatingHours {
    background-color: rgba(8, 119, 166, 0.3);
  }
  .operatingHour {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: rgba(0, 0, 0);
    font-size: 1.3rem;
    font-weight: 500;
  }
  .serverConnectionError {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: rgba(255, 0, 0, 0.15);
    color: rgb(217, 16, 56);
    font-size: 1.5rem;
  }
  .openIssue {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
}

.main {
  display: flex;
  height: 90vh;
  padding: 4rem 1rem;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 1.5rem;
  }

  > .form {
    display: flex;
    flex-direction: column;
  
    > input {
      min-width: 250px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .submitButton {
      padding: 10px 15px;
    }
  }

  .shortenedUrlContainer {
    display: flex;
    margin-top: 30px;
    align-items: center;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }

    > p {
      margin-right: 10px;
    }

    > .copyClipboardButton {
      padding: 10px 15px;
    }
  }
}


.footer {
  padding: 1.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  display: flex;

  > a {
    padding: 10px;
  }
}


